@media (max-width: 768px) {
    .nav {
      
      text-align: center;
      gap: 8px;
      justify-content: space-around;
    }

    .banner {
      width: 95%;
      height: 124px;
      padding: 20px;
      font-size: 15px;
      border-radius: 15px;
    }

    .banner span {
      margin-top: 10px;
      font-size: 12px;
    }

    .modal-content {
      width: 90%;
      margin: 30% auto;
    }
  }